/* ======================================= HEADER SECTION CSS START ======================================= */

/*--------------------------------------------------------------
  #  HEADER SECTION START 
  --------------------------------------------------------------*/


header,
.offcanvas .offcanvas-header {
    background: #41228E;
}

header .navbar-brand img {
    height: 100%;
    width: 250px;
}

.offcanvas .offcanvas-header img {
    width: 250px;
}

.offcanvas .offcanvas-end img {
    width: 50px;
}

header .navbar-brand {
    padding: 0 !important;
}

header .navbar {
    align-items: center;
    /* padding: 0px 20px; */
    padding: 0;
}

header .navbar .navbar-toggler {
    padding: 8px 12px;
    font-size: 28px;
}

header .navbar .navbar-toggler .svg-inline--fa.fa-bars {
    width: 30px;
    height: 30px;
}

header .navbar-nav .nav-item {
    padding: 0px 10px;
    margin: 0;
}

header .navbar-nav .nav-link {
    margin: 0;
    font-size: 14px;
    transition: all 0.4s;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    position: relative;
}

header .navbar-nav .nav-link.show {
    color: #ffffff;
}

header .navbar-collapse .navbar-nav .nav-item a {
    font-weight: 500;
    font-size: 14px;
    position: relative;
    letter-spacing: 1px;
    transition: 0.5s ease-in;
}


header .navbar-collapse .navbar-nav .nav-item a:hover {
    background: none;
    color: #ffc107 !important;
    transition: 1s ease-in-out;
}

header .navbar-collapse .navbar-nav .nav-item a::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: 1s;
    background: #ffffff;
}

header .navbar-collapse .navbar-nav .nav-item a:hover::before {
    width: 90%;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 100%;
        height: 50px;
    }
}

/*--------------------------------------------------------------
  #   HEADER SECTION END
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #   Nav section start
  --------------------------------------------------------------*/

header .navbar-nav .nav-item .dropdown-menu {
    width: auto;
    border: none;
    border-radius: 10px;
    background: #41228E;
    top: 30px;
    left: auto;
    transition: all 1s;
    padding: 0;
    box-shadow: 0px 5px 10px gray;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    color: #ffffff;
}

header .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

/*--------------------------------------------------------------
  #   Nav section end
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #   canvas section start
  --------------------------------------------------------------*/

header #telbtn {
    margin: 0px 15px;
}

.offcanvas {
    max-width: 300px
}

header .offcanvas-body #telbtn {
    margin: 10px 0px;
    display: block;
}

header .offcanvas-body ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

header .offcanvas-body ul li {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
}

header .offcanvas-body ul li a {
    text-decoration: none;
    color: black;
}

header .offcanvas-body ul li:hover {
    background-color: rgb(216, 239, 247);
    letter-spacing: 0.7px;
    transition: all 0.5s;
}

header .offcanvas-body ul li:hover a {
    color: #4a70da;
}


/*--------------------------------------------------------------
  #   canvas section end
  --------------------------------------------------------------*/


/* ======================================= /HEADER SECTION CSS END ======================================= */