/* ======================================= INDEX SECTION CSS START ======================================= */


/* ========================= hero section start ========================= */

.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/banner/bg_banner/building_center.jpeg) center/cover no-repeat;
}

/* ========================= /hero css section end ========================= */

/* ========================= Home Page Content section start ========================= */

.home-page-content .home-page-description {
    color: #000000;
}

.home-page-content .key-highlights-section ul.key-highlights-list {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.home-page-content .key-highlights-section ul.key-highlights-list li {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #1b0238;
    margin-top: 20px;
    padding-left: 40px;
}

.home-page-content .key-highlights-section ul.key-highlights-list li span {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #41228E;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear;
}

.home-page-content .key-highlights-section ul.key-highlights-list li:hover span {
    background-image: linear-gradient(to right, #f3c23c, #EDC967, #c59205, #f3c23c, #EDC967);
    transition: all 1s linear;
}



.home-page-content .building-image {
    text-align: center;
    position: relative;
    z-index: 1;
}

.home-page-content .building-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #41228E;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-building-image 10s linear infinite alternate forwards;
}

.home-page-content .building-image img {
    border-radius: 50%;
    padding: 20px;
}

.home-page-content .building-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #f3c23c, #EDC967, #c59205, #f3c23c, #EDC967);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-building-image 50s linear infinite alternate forwards;
}

/* ========================= /Home Page Content section end ========================= */

/* ========================= about section start ========================= */
.about-banner {
    position: relative;
    z-index: 1;
    background: url(../img/banner/bg_banner/Building_gallery.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

.about-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
}

.about-banner .about-title-desc {
    text-align: center;
    font-size: 36px;
    color: #41228E;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Sacramento, cursive;
    text-transform: capitalize;
}

.about-banner .about-title-desc+p {
    color: #000000;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.about-banner .about-title-desc+p+ul {
    margin-top: 20px;
}

.about-banner .about-title-desc+p+ul li {
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
}

/* ========================= /about section end ========================= */

/* ========================= services section start ========================= */


.service-card {
    background-image: linear-gradient(to right, #AE8625, #F7EF8A, #D2AC47, #EDC967);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    height: 220px;
    transition: 0.3s;
}

.service-card i {
    font-size: 40px;
    color: #000000;
    margin-bottom: 15px;
}

.service-card:hover {
    background-image: linear-gradient(to right, #f3c23c, #EDC967, #c29c35, #f3c23c, #EDC967);
    transform: translateY(-10px);
}

/* ========================= /services section end ========================= */

/* ========================= projects section start ========================= */

.property-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* ========================= /projects section end ========================= */

/* ========================= clients section start ========================= */
.clients-section h1 {
    font-size: 45px;
}

/* Slider */

.clients-section .slick-slide {
    margin: 0px 20px;
}

.clients-section .slick-slide img {
    cursor: pointer;
    width: 100%;
    border: 2px solid #000;
    border-radius: 20px;
}

.clients-section .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.clients-section .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.clients-section .slick-list:focus {
    outline: none;
}

.clients-section .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.clients-section .slick-slider .slick-track,
.clients-section .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clients-section .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.clients-section .slick-track:before,
.clients-section .slick-track:after {
    display: table;
    content: '';
}

.clients-section .slick-track:after {
    clear: both;
}

.clients-section .slick-loading .slick-track {
    visibility: hidden;
}

.clients-section .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.clients-section [dir='rtl'] .slick-slide {
    float: right;
}

.clients-section .slick-slide img {
    display: block;
}

.clients-section .slick-slide.slick-loading img {
    display: none;
}

.clients-section .slick-slide.dragging img {
    pointer-events: none;
}

.clients-section .slick-initialized .slick-slide {
    display: block;
}

.clients-section .slick-loading .slick-slide {
    visibility: hidden;
}

.clients-section .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.clients-section .slick-arrow.slick-hidden {
    display: none;
}

/* ========================= /clients section end ========================= */

/* ======================================= /INDEX SECTION CSS END ======================================= */