/* ======================================= INDEX SECTION CSS START ======================================= */


/* ========================= hero section start ========================= */
/* 
.hero .carousel-item {
    position: relative;
}

.hero .carousel-caption {
    top: 40%;
}


.carousel-indicators [data-bs-target] {
    width: 0px;
    height: 0px;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 50px 50px;
} */

.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/banner/bg_banner/building_center.jpeg) center/cover no-repeat;
}







.service-card {
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    height: 220px;
    transition: 0.3s;
}

.service-card i {
    font-size: 40px;
    color: #f4b400;
    margin-bottom: 15px;
}

.service-card:hover {
    transform: translateY(-10px);
}

.property-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* ========================= /hero css section end ========================= */

/* ========================= Home Page Content section start ========================= */

.home-page-content .home-page-description {
    color: #000000;
}

.home-page-content .key-highlights-section ul.key-highlights-list {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.home-page-content .key-highlights-section ul.key-highlights-list li {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #1b0238;
    margin-top: 20px;
    padding-left: 40px;
}

.home-page-content .key-highlights-section ul.key-highlights-list li span {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #41228E;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}

.home-page-content .key-highlights-section ul.key-highlights-list li:hover span {
    background: #FFC107;
    transition: all 1s linear;
}



.home-page-content .building-image {
    text-align: center;
    position: relative;
    z-index: 1;
}

.home-page-content .building-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #41228E;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-building-image 10s linear infinite alternate forwards;
}

.home-page-content .building-image img {
    border-radius: 50%;
    padding: 20px;
}

.home-page-content .building-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #FFC107;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    animation: border-transform-building-image 50s linear infinite alternate forwards;
}

/* ========================= /Home Page Content section end ========================= */

/* ========================= about section start ========================= */
.about-banner {
    position: relative;
    z-index: 1;
    background: url(../img/banner/bg_banner/Building_gallery.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

.about-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
}

.about-banner .about-title-desc {
    text-align: center;
    font-size: 36px;
    color: #41228E;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Sacramento, cursive;
    text-transform: capitalize;
}

.about-banner .about-title-desc+p {
    color: #000000;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.about-banner .about-title-desc+p+ul {
    margin-top: 20px;
}

.about-banner .about-title-desc+p+ul li {
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
}

/* ========================= /about section end ========================= */

/* ======================================= /INDEX SECTION CSS END ======================================= */