/* ======================================= RESPONSIVE SECTION CSS START ======================================= */


/*--------------------------------------------------------------
  #  min width 1200px start
  --------------------------------------------------------------*/

@media screen and (min-width: 1200px) {}

/*--------------------------------------------------------------
  #  min width 1200px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  #  max width 1200px start
  --------------------------------------------------------------*/

@media screen and (max-width: 1200px) {}

/*--------------------------------------------------------------
  #  max width 1200px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # max width 992px start
  --------------------------------------------------------------*/

@media screen and (max-width: 992px) {}

/*--------------------------------------------------------------
  # max width 992px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # max width 768px start
  --------------------------------------------------------------*/

@media screen and (max-width: 768px) {}

/*--------------------------------------------------------------
  # max width 768px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # min width 768px start
  --------------------------------------------------------------*/
@media screen and (min-width:768px) {}

/*--------------------------------------------------------------
  # min width 768px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # max width 576px start
  --------------------------------------------------------------*/
@media screen and (max-width: 576px) {}

/*--------------------------------------------------------------
  # max width 576px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # max width 520px start
  --------------------------------------------------------------*/
@media screen and (max-width:520px) {}

/*--------------------------------------------------------------
  # max width 520px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # min width 0px and max width 576px start
  --------------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 576px) {}

/*--------------------------------------------------------------
  # min width 0px and max width 576px end
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  # max width 421px start
  --------------------------------------------------------------*/

@media screen and (max-width:421px) {}

/*--------------------------------------------------------------
  # max width 421px end
  --------------------------------------------------------------*/


/* ======================================= /RESPONSIVE SECTION CSS END ======================================= */